<div class="maplegendtool">
    <div id="maplegendcontainer-button">
        <div class="list-group-item active pointer maplegend-button-content" 
             title="Légende de la carte" 
             collapse="{{ctrl.legend_collapsed === true ? 'out' : 'in'}}"
             data-target="#maplegendcontainer" 
             onclick="oVmap.getMapManager().collapseElement(this)">
            <span class="icon-info list-group-icon"></span>
            <span>Légende</span>
            <span class="list-group-icon2"
                  ng-class="{'icon-keyboard_arrow_down':ctrl.legend_collapsed !== true, 'icon-keyboard_arrow_right':ctrl.legend_collapsed === true}"></span>
        </div>
    </div>
    <div id="maplegendcontainer" class="layers-tool legend" collapse="{{ctrl.legend_collapsed === true ? 'out' : 'in'}}">
        <div id="maplegend" class="tree legend">
            <div ng-repeat="(sLayerName, layer) in ctrl.oUrls"
                 ng-show="layer[0].olLayer.values.visible === true">
                <div id="legend_father{{$index}}" data-toggle="collapse" data-target="#legend_element_{{$index}}">
                    <div style="display: inline-block; width:98%">
                        <div class="legend_father_name">{{sLayerName}}</div>
                    </div>
                </div>
                <div id="legend_element_{{$index}}" class="collapse in">
                    <ul class="list-group-item auto-height">
                        <div ng-repeat="node in layer">
                            <img ng-src="{{node.legendURL}}" class="legend-img" onerror="this.style.display='none'">
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>