<div data-app-double-form class="row double-form">
        <div class="col-xs-3 double-form-edit-first">
                <div class="row">
                        <div class="col-xs-12 double-form-title" data-translate="{{::oFormDefinition[sFormDefinitionName].title}}"></div>
                        <!-- ng-bind="::oFormDefinition[sFormDefinitionName].title" -->
                </div>
                <div class="row">
                        <div id="double_form_left_section_{{::sSelectedObjectName}}" class="col-xs-12"></div>
                </div>
        </div>
        <div class="col-xs-9 double-form-edit-second">
                <div class="row no-bs-row-margin">
                        <div id="double_form_right_section_{{::sSelectedObjectName}}" class="col-xs-12 double-form-style-second"></div>
                </div>
        </div>
</div>