

<div data-app-login="" class="row login-form-container">
    <div class="login-container">
        <div class="login-logo">
            <span class="login-logo-icon icon-logo_{{oProperties.app_name| lowercase}}"></span>
        </div>
        <div class="login">
            <!--<div class="login-form-title" data-translate="LOGIN_TITLE" data-translate-values="translationData"></div>-->
            <div class="login-form-title" data-translate="" data-translate-values="translationData"></div>
            <div data-app-login-form="" class="login-form"></div>
            <!-- Message d'erreur. -->
            <div id="login_error_alert" class="alert alert-danger login-error-alert" role="alert">{{sLoginErrorMessage}}</div>
        </div>        
    </div>
    <!-- fpwd modal -->
    <div class="modal fade" id="modal_forgotten_password" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel" data-translate="MODAL_FORGOTTEN_PASSWORD_TITLE"></h3>
                </div>
                <div class="modal-body">
                    <div id="modal_forgotten_password_form_container" class=""></div>
                </div>
            </div>
        </div>
    </div>
    <!-- sign_up modal -->
    <div class="modal fade" id="modal_sign_up" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel" data-translate="MODAL_SIGN_UP_TITLE"></h3>
                </div>
                <div class="modal-body">
                    <div id="modal_sign_up_form_container" class=""></div>
                </div>
            </div>
        </div>
    </div>
</div>        

