

<div data-app-login="" class="row login-form-container">
    <div class="login-container">
        <div class="login-logo">
            <span class="login-logo-icon icon-logo_{{oProperties.app_name| lowercase}}"></span>
        </div>
        <div class="login">
            <!--<div class="login-form-title" data-translate="LOGIN_TITLE" data-translate-values="translationData"></div>-->
            <div class="login-form-title" data-translate="" data-translate-values="translationData"></div>
            <div data-app-login-form="" class="login-form"></div>
            <!-- Message d'erreur. -->
            <div id="login_error_alert" class="alert alert-danger login-error-alert" role="alert">{{sLoginErrorMessage}}</div>
        </div>        
    </div>        
</div>        
