<div class="ui-grid-cell-contents btn-group btn-group-xs">
        <button type="button" ng-if="grid.appScope.edit_column" ng-click="grid.appScope.executeActionButtonEvent(row, grid.appScope.edit_column, grid['options'])" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-edit glyphicon-align-left" aria-hidden="true"></span>
        </button>
        <button type="button" ng-if="grid.appScope.show_column" ng-click="grid.appScope.executeActionButtonEvent(row, grid.appScope.show_column, grid['options'])" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-eye-open glyphicon-align-right" aria-hidden="true"></span>
        </button>
</div>
