<div id="{{sSelectedObjectName}}_{{sSelectedSectionName}}_grid" class="workspacelist-grid" data-app-workspace-list="">
    <div ng-show="::gridOptions.appHeader" id="{{sSelectedObjectName}}_{{sSelectedSectionName}}_grid_header" class="col-xs-12 workspacelist-grid-header no_bs_padding">
        <!-- Filtre de recherche -->
        <div ng-show="::gridOptions.appHeaderSearchForm"class="row">
            <div class="col-xs-12 workspacelist-grid-header-search">
                <div class="row">
                    <!-- Bouton de recherche -->
                    <div class="col-xs-12 no_bs_padding">
                        <span id="{{sSelectedObjectName}}_{{sSelectedSectionName}}_search_filter_button" class="workspacelist-grid-header-search-button-arrow-right workspacelist-grid-header-search-button">
                            <span class="icon-filter workspacelist-grid-header-search-button-filter-icon"></span>
                            <b data-translate="FORM_SEARCH_FILTER_BUTTON"></b>
                            <span class="icon-keyboard_arrow_right workspacelist-grid-header-search-button-arrow-icon"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Formulaire de recherche -->
        <div ng-if="::gridOptions.appHeaderSearchForm" class="row">
            <div data-app-search-form="" id="{{sSelectedObjectName}}_{{sSelectedSectionName}}_grid_header_search_form" class="col-xs-12 workspacelist-grid-header-search-form"></div>
        </div>
        <!-- Barre optionnelle -->
        <div ng-if="gridOptions.appHeaderOptionBar" id="{{sSelectedObjectName}}_{{sSelectedSectionName}}_grid_header_option_bar" class="row">
        </div>
        <!-- Titre de l'onglet -->
        <div ng-if="::gridOptions.appHeaderTitleBar" class="row">
            <div class="col-xs-12 workspacelist-grid-header-title">
                <span data-translate="{{::gridOptions.appGridTitle}}"></span>
                <div>
                    <button ng-repeat="action in gridOptions.appActions" type="button" name="{{::action.name}}" id="{{::action.name + '_ui_grid_add'}}" class="btn btn-primary btn-xs" ng-click="scopeEval(this, action.event)" style="margin-left: 10px;" ng-disabled="action.disabled">{{::action.label}}</button> 
                </div>
            </div>
        </div>
    </div>
    <div id="{{sSelectedObjectName}}_{{sSelectedSectionName}}_grid_data" class="col-xs-12 no_bs_padding workspacelist-grid-data" data-ui-grid="gridOptions" data-ui-grid-selection="" data-ui-grid-pagination="" data-ui-grid-move-columns="" data-ui-grid-resize-columns="" data-ui-grid-draggable-rows=""  data-ui-grid-edit=""></div>
    <div ng-if="gridOptions.appFooter" id="{{sSelectedObjectName}}_{{sSelectedSectionName}}_grid_footer" class="col-xs-12 workspacelist-grid-footer">
        <div ng-if="gridOptions.appShowPagination" data-app-ui-grid-pagination="" class="ui-grid-pagination row"></div>
    </div>
    <div class="modal fade" id="ExportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel" data-translate="FORM_EXPORT_TITLE"></h4>
                </div>
                <div class="modal-body">
                    <label class="control-label" data-translate="FORM_BODY_EXPORT_FILENAME"></label>
                    <input Name="FileName" type="text" ng-model="gridOptions.exporterCsvFilename">
                    <select id="SelectValue">
                        <option>.XLSX</option>
                        <option>.CSV</option>
                    </select>
                    <label class="control-label" data-translate="FORM-BODY-NB-LINE-EXPORT"></label>
                    <input type="number" id="replyNumber" class="form-control" min="0" step="1" ng-model="gridOptions.oUrlParams.limit"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="exportCSVFormat()" data-translate="FORM_BUTTON_EXPORT_FILENAME"></button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" data-translate="FORM_CLOSE"></button>
                </div>
            </div>
        </div>
    </div>
</div>