<!-- Liste des couches utilisables -->


<h3>Ajouter une couche Bing Maps: </h3>
<hr>

<div>
    <div class="row">
        <div class="col-xs-3">
            <b>Couche:</b>
        </div>
        <div class="col-xs-4">
            <b>Clé Bing:</b>
        </div>
        <div class="col-xs-3">
            <b>Langue:</b>
        </div>
        <div class="col-xs-2">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <input type="text" ng-model="ctrl.sImagerySet" class="form-control" placeholder="Type of imagery" aria-describedby="sizing-addon1">
        </div>
        <div class="col-xs-4">
            <input type="text" ng-model="ctrl.sKey" class="form-control" placeholder="Bing Maps API Key" aria-describedby="sizing-addon1">
        </div>
        <div class="col-xs-3">
            <select ng-model="ctrl.sCulture" class="form-control">
                <option value="fr-FR">French</option>
                <option value="en-US">English</option>
            </select>
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-success right" ng-click="ctrl.addLayer()">Ajouter</button>
        </div>
    </div>
</div>

<br>
<hr>

<div ng-repeat="node in ctrl.catalog.services.bing">
    <div class="row">
        <div class="col-xs-3" ng-if="(node.thumbnail | getType) == 'string'">
            <img src="{{node.thumbnail}}" 
                 class="img-responsive pointer opacity-hover" 
                 ng-click="ctrl.addLayer(node)">
        </div>
        <div class="col-xs-9">
            <b>{{node.imagerySet}}</b>
            <p>
                <i>
                    {{node.description}}
                </i>
            </p>
            <p>
                Lang: <i>{{node.culture}}</i>
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: -15px">
        <div class="col-xs-3" ng-if="(node.thumbnail | getType) == 'string'"></div>
        <div class="auto-overflow" ng-class="{ 'col-xs-7': (node.thumbnail | getType) == 'string', 'col-xs-10': (node.thumbnail | getType) != 'string' }">
            <b>key</b>: <i>{{node.key}}</i>
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-primary right" ng-click="ctrl.addLayer(node)">Ajouter</button>
        </div>
    </div>
    <hr>
</div>
<button id="btn-reload-bing" style="display: none" ng-click="ctrl.reload()">Reload map</button>