<!-- Liste des cartes utilisables -->
<h3>Ajouter une géométrie: </h3>
<hr>


<div>
    <div class="row">
        <div class="col-xs-3">
            <b>Service</b>
            <input type="text" ng-model="sServiceName" class="form-control" placeholder="Nom du service">
        </div>
        <div class="col-xs-3">
            <b>Couche</b>
            <input type="text" ng-model="sLayerTitle" class="form-control" placeholder="Nom de la couche">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <b>Fichier ou URL</b>
            <div class="input-group">
                <input type="text" id="upload-geometry-file-info" class="form-control" ng-change="bIsUrl = true" ng-model="sFileName" placeholder="http://www.ma-carte.com/get-geometry.php">
                <span class="input-group-btn">
                    <span class="btn btn-success btn-file">                       
                        Chercher&hellip; <input type="file" id="browse-geometry-button"/>
                    </span>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <b>Ou vous pouvez simplement déplacer le fichier ci-dessous</b>
            <div class="upload-drop-zone" id="upload-geometry-file-drop-zone">Déplacer le fichier ici</div>
            <div class="right"><i>Formats supportés: GPX, GeoJSON, IGC, KML, TopoJSON</i></div><br>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-success right" ng-click="ctrl.addLayer()">Ajouter</button>
        </div>
    </div>
</div>
<button id="btn-reload-geometry" style="display: none" ng-click="ctrl.reload()"></button>