<!-- Liste des cartes utilisables -->
<div class="height-100">
    <!-- Recherche -->
    <div style="width: 100%; height: 30px;">
        <div class="row">
            <div class="col-xs-6">
                <select class="form-control minus left margin-5 margin-sides-10" ng-model="filterTheme">
                    <option value="">Tous</option>
                    <option ng-repeat="theme in themes track by $index" ng-value="theme">{{theme}}</option>
                </select>
            </div>
            <div class="col-xs-6">
                <input class="form-control input-sm right margin-sides-10 margin-5" type="text" placeholder="Rechercher" ng-model="filter">
            </div>
        </div>
    </div>
    <!-- Liste -->
    <div class="map-list-litle-panel-list">
        <div ng-repeat="(theme, maps) in mapsByThemes" class="margin-sides-5 row">

            <div>                    
                <span class="arrow-collapse icon-keyboard_arrow_down"></span>
                <span class="pointer">{{theme === 'null' ? 'Autres' : theme}}</span>
            </div>
            <hr style="margin: 3px 15px">

            <div id="maplistlitle_{{$index}}_maps">
                <div ng-repeat="map in maps| orderBy: 'name'"
                     class="col-xs-6 col-sm-3 margin-10" >
                    <div url="{{map.url}}"
                         title="{{map.description}}"
                         style="text-align: center; font-size: 12px;"
                         onclick="oVmap.getMapManager().loadMap(this)">

                        <div ng-class="{'border-black': map.used === true}" style="overflow:hidden" ng-attr-title="{{map.name}}">
                            <div class="img-map" style="background-image: url('{{map.thumbnail}}')"></div>
                            <span>{{map.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>