<!-- Liste des couches utilisables -->


<h3>Ajouter une couche OSM: </h3>
<hr>

<div>
    <div class="row">
        <div class="col-xs-3">
            <b>Nom:</b>
        </div>
        <div class="col-xs-7">
            <b>URL:</b>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <input type="text" ng-model="ctrl.sLayerName" class="form-control" placeholder="Service name" aria-describedby="sizing-addon1">
        </div>
        <div class="col-xs-7">
            <input type="text" ng-model="ctrl.sLayerUrl" class="form-control" placeholder="Service url" aria-describedby="sizing-addon1">
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-success right" ng-click="ctrl.addLayer()">Ajouter</button>
        </div>
    </div>
</div>

<br>
<hr>

<div ng-repeat="node in ctrl.catalog.services.osm">
    <div class="row">
        <div class="col-xs-3" ng-if="(node.thumbnail | getType) == 'string'">
            <img src="{{node.thumbnail}}" 
                 class="img-responsive pointer opacity-hover" 
                 ng-click="ctrl.addLayer(node)">
        </div>
        <div class="col-xs-9">
            <b>{{node.name}}</b>
            <p>
                <i>
                    {{node.description}}
                </i>
            </p>
        </div>
    </div>
    <div class="row" style="margin-bottom: -15px">
        <div class="col-xs-3" ng-if="(node.thumbnail | getType) == 'string'"></div>
        <div class="auto-overflow" ng-class="{ 'col-xs-7': (node.thumbnail | getType) == 'string', 'col-xs-10': (node.thumbnail | getType) != 'string' }">
            <div>
                <b>url</b>: <i>{{node.url}}</i>
            </div>
        </div>
        <div class="col-xs-2">
            <button type="button" class="btn btn-primary right" ng-click="ctrl.addLayer(node)">Ajouter</button>
        </div>
    </div>
    <hr>
</div>
<button id="btn-reload-osm" style="display: none" ng-click="ctrl.reload()">Reload map</button>