<!-- Liste des cartes utilisables -->


<h3>Ajouter une couche WMS: </h3>
<hr>

<form ng-submit="ctrl.getCapabilities()">
    <div class="row">
        <div class="col-xs-3">
            <b>Service: </b>
            <select class="form-control" 
                    ng-model="oSelectedService" 
                    ng-options="oSelectedService.name for oSelectedService in aServices"></select>
        </div>
        <div class="col-xs-9">
            <b>URL: </b>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Service url" aria-describedby="sizing-addon1" ng-model="oSelectedService.url" ng-change="ctrl.reloadServicesList()">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-success">Voir le contenu</button>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <b>Identifiant (optionnel):</b>
                <input type="text" class="form-control" ng-model="oSelectedService.login" ng-change="ctrl.reloadServicesList()">
            </div>
        </div>
        <div class="col-xs-3">
            <div class="form-group">
                <b>Mot de passe (optionnel):</b>
                <input type="password" class="form-control" ng-model="oSelectedService.password" ng-change="ctrl.reloadServicesList()">
            </div>
        </div>
    </div>
</form>

<div id="load-img-wms" style="display: none; text-align: center"><img src="images/ajax-load-big.gif"></div>
<div id="wms-suggestions-list" style="display: none">

    <input class="form-control input-sm right margin-sides-10 margin-5" 
           type="text" 
           placeholder="Rechercher" 
           style="width: 200px;"
           ng-model="filter">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Nom</th>
                <th>Projection</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="node in ctrl.aLayersFiltered">
                <td class="WMSSuggestionTitle">{{node.Title}}</td>
                <td class="WMSSuggestion" title="{{node.Name}}">{{node.Name}}</td>
                <td class="WMSSuggestion">{{node.projections}}</td>
                <!-- Si la projeciton est bonne -->
                <td class="WMSSuggestionsButton">
                    <button type="button" 
                            class="btn btn-info"
                            ng-class="{'btn-danger': node.projections.indexOf(ctrl.proj) === -1}"
                            ng-click="ctrl.addLayer(node)">Ajouter</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<button id="btn-reload-wms" style="display: none" ng-click="ctrl.reload()">Reload map</button>

<div id="wms-select-style-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="$('#wms-select-style-modal').modal('hide');" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ctrl.oLayerToAdd.Title}}</h4>
            </div>
            <div class="modal-body">
                <form id="wms-select-style-modal-form"
                      ng-submit="ctrl.addLayer(ctrl.oLayerToAdd, oSelectedStyle.Name)">
                    <div class="row">
                        <div class="col-xs-12">
                            <label>Style</label>                            
                            <select class="form-control" 
                                    ng-model="oSelectedStyle" 
                                    ng-options="oStyle.Title for oStyle in ctrl.oLayerToAdd.Style"></select>
                            <br>
                            <div ng-repeat="(key, value) in ctrl.oLayerToAdd.Style[iSelectedStyleIndex]" ng-if="(value | getType) == 'string'">
                                <label>{{key}}: </label>{{value}}
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" form="wms-select-style-modal-form">Valider</button>
            </div>
        </div>
    </div>
</div>