<div class="panel panel-veremes" id="FormToolsElement">
    <div ng-if="ctrl.applicationName !== 'gtf'" class="panel-heading unselectable">{{::ctrl.text.Title}}</div>
    <div ng-if="ctrl.applicationName === 'gtf'" class="panel-heading unselectable">{{::ctrl.text.Title_GTF}}</div>
    <div class="panel-body tree-panel">
        <div class="form-tools-btn-container">
            <div class="element-margin text-center">
                <div id="Formtools_buttons" class="btn-group btn-group-sm " role="group" aria-label="...">
                    <button id="up_element_button" type="button" class="btn btn-success" ng-click="ctrl.up()" title="{{::ctrl.text.InfoBulle.Up}}">
                        <span class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                    </button>
                    <button id="down_element_button" type="button" class="btn btn-success" ng-click="ctrl.down()" title="{{::ctrl.text.InfoBulle.Down}}">
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </button>
                    <button id="add_line_button" type="button" class="btn btn-success" ng-click="ctrl.addLine()" ng-show="ctrl.bTreeWithLines_" title="{{::ctrl.text.InfoBulle.Add}}">
                        L <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button ng-if="ctrl.applicationName !== 'gtf'" id="add_row_button" type="button" class="btn btn-success" ng-click="ctrl.addElement()" title="{{::ctrl.text.InfoBulle.AddElement}}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
					 <button ng-if="ctrl.applicationName === 'gtf'" id="add_row_button" type="button" class="btn btn-success" ng-click="ctrl.addElement()" title="{{::ctrl.text.InfoBulle.AddElement_gtf}}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button id="rem_element_button" type="button" class="btn btn-success" ng-click="ctrl.removeElement()" title="{{::ctrl.text.InfoBulle.Delete}}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div class="checkbox checkbox_margin ng-scope">
                <input type="checkbox" id="show-lines-checkbox" ng-model="ctrl.bTreeWithLines_">
                <label for="show-lines-checkbox" class="control-label ng-binding unselectable">{{::ctrl.text.Buttons.Show_Lines}}</label>
            </div>
        </div>
        <div class="form-tools-tree-container row">
            <div class="" id="treeWithLines" ng-show="ctrl.bTreeWithLines_"></div>
            <div class="row" id="treeView" ng-show="!ctrl.bTreeWithLines_"></div>
        </div>
    </div>
        <div class="text-center">
            <button id="formTools_datasoure_button" type="button" class="btn btn-success" ng-click="$parent.ctrl.showDatasourcesModal()">{{::ctrl.text.Buttons.Manage_datasources}}</button>
        </div>
</div>