<div class="panel panel-veremes" id="FilesURL">
    <!--    <div class="panel-heading unselectable" ng-click="ctrl.resize()">{{::ctrl.text.Title}}
            <span ng-if="collapsed" id="colapse_uploader_icon" class="fa fa-angle-right fa-lg" style="float:right"></span>
            <span ng-if="!collapsed" id="colapse_uploader_icon" class="fa fa-angle-down fa-lg" style="float:right"></span>
        </div>-->
    <div class="panel-heading unselectable">
        <!--Fichier-->
        <div class="btn-group dropdown margin-right-10">
            <button class="btn btn-veremes dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{::ctrl.text.File}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li ng-show="FormSelected === 'Default'">
                    <a title="{{::ctrl.text.InfoBulle.Default.Publish}}"
                       href="javascript:void(0);"
                       ng-click="ctrl.publish()">
                        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                        {{::ctrl.text.InfoBulle.Default.Publish}}
                    </a>
                </li>
                <li ng-show="FormSelected === 'Default'">
                    <a title="{{::ctrl.text.InfoBulle.Default.Reset}}"
                       href="javascript:void(0);"
                       ng-click="ctrl.reset()">
                        <span class="fa fa-recycle" aria-hidden="true"></span>
                        {{::ctrl.text.InfoBulle.Default.Reset}}
                    </a>
                </li>
                <li ng-show="FormSelected === 'Perso'">
                    <a title="{{::ctrl.text.InfoBulle.Perso.Save}}"
                       href="javascript:void(0);"
                       ng-click="ctrl.save()">
                        <span class="glyphicon glyphicon-floppy-disk fa-x1" aria-hidden="true"></span>
                        {{::ctrl.text.InfoBulle.Perso.Save}}
                    </a>
                </li>
                <li ng-show="FormSelected === 'Perso'">
                    <a title="{{::ctrl.text.InfoBulle.Perso.Reload}}"
                       href="javascript:void(0);"
                       ng-click="ctrl.loadWithEdit(false, 'Perso', 'load_Perso_button')">
                        <span class="glyphicon glyphicon-refresh fa-x1" aria-hidden="true"></span>
                        {{::ctrl.text.InfoBulle.Perso.Reload}}
                    </a>
                </li>
                <li ng-hide="ctrl.buttonHide" ng-show="FormSelected === 'Perso'">
                    <a title="{{::ctrl.text.InfoBulle.Perso.Publish}}"
                       href="javascript:void(0);"
                       ng-click="ctrl.publish()">
                        <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                        {{::ctrl.text.InfoBulle.Perso.Publish}}
                    </a>
                </li>
                <li ng-hide="ctrl.buttonHide" ng-show="FormSelected === 'Perso'">
                    <a title="{{::ctrl.text.InfoBulle.Perso.Reset}}"
                       href="javascript:void(0);"
                       ng-click="ctrl.reset()">
                        <span class="fa icon-recycle" aria-hidden="true"></span>
                        {{::ctrl.text.InfoBulle.Perso.Reset}}
                    </a>
                </li>
                <li ng-hide="!ctrl.buttonHide" ng-show="FormSelected === 'Perso'">
                    <a title="{{::ctrl.text.InfoBulle.Perso.ResetWab}}"
                       href="javascript:void(0);"
                       ng-click="ctrl.suggestColumnsToGenerateForm()">
                        <span class="fa icon-recycle" aria-hidden="true"></span>
                        {{::ctrl.text.InfoBulle.Perso.ResetWab}}
                    </a>
                </li>
            </ul>
        </div>
        <!--Edition-->
        <div class="btn-group dropdown margin-right-10"
             ng-show="FormSelected === 'Perso'">
            <button class="btn btn-veremes dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{::ctrl.text.Edit}} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                    <a title="{{::ctrl.text.ManageTabs}}"
                       href="javascript:void(0);"
                       ng-click="$parent.ctrl.showTabsManagerModal()">
                        <span class="icon-object-ungroup" aria-hidden="true"></span>
                        {{::ctrl.text.ManageTabs}}
                    </a>
                </li>
                <li ng-show="wabStates.length > 0">
                    <a title="{{::ctrl.text.ManageWab}}"
                       href="javascript:void(0);"
                       ng-click="$parent.ctrl.showWabManagerModal()">
                        <span class="icon-logo_wab" aria-hidden="true"></span>
                        {{::ctrl.text.ManageWab}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel-body uploader-panel" ng-hide="collapsed">

        <!--Actions fichier-->
        <div class="element-margin text-center">
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" 
                        class="btn btn-default" 
                        title="{{::ctrl.text.InfoBulle.Default.Publish}}"
                        ng-show="FormSelected === 'Default'"
                        ng-click="ctrl.publish()">
                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                </button>
                <button type="button" 
                        class="btn btn-default" 
                        title="{{::ctrl.text.InfoBulle.Default.Reset}}"
                        ng-show="FormSelected === 'Default'"
                        ng-click="ctrl.reset()">
                    <span class="fa fa-recycle" aria-hidden="true"></span>
                </button>
                <button type="button" 
                        class="btn btn-default" 
                        title="{{::ctrl.text.InfoBulle.Perso.Save}}"
                        ng-show="FormSelected === 'Perso'"
                        ng-click="ctrl.save()">
                    <span class="glyphicon glyphicon-floppy-disk fa-x1" aria-hidden="true"></span>
                </button>
                <button type="button" 
                        class="btn btn-default" 
                        title="{{::ctrl.text.InfoBulle.Perso.Reload}}"
                        ng-show="FormSelected === 'Perso'"
                        ng-click="ctrl.loadWithEdit(false, 'Perso', 'load_Perso_button')">
                    <span class="glyphicon glyphicon-refresh fa-x1" aria-hidden="true"></span>
                </button>
                <button type="button"
                        class="btn btn-default" 
                        title="{{::ctrl.text.InfoBulle.Perso.Publish}}"
                        ng-show="FormSelected === 'Perso' && !ctrl.buttonHide"
                        ng-click="ctrl.publish()">
                    <span class="glyphicon glyphicon-copy" aria-hidden="true"></span>
                </button>
                <button type="button" 
                        class="btn btn-default" 
                        title="{{::ctrl.text.InfoBulle.Perso.Reset}}"
                        ng-show="FormSelected === 'Perso' && !ctrl.buttonHide"
                        ng-click="ctrl.reset()">
                    <span class="fa icon-recycle" aria-hidden="true"></span>
                </button>
                <button type="button" 
                        class="btn btn-default" 
                        title="{{::ctrl.text.InfoBulle.Perso.ResetWab}}"
                        ng-show="FormSelected === 'Perso' && ctrl.buttonHide"
                        ng-click="ctrl.suggestColumnsToGenerateForm()">
                    <span class="fa icon-recycle" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <!--Choix du formulaire-->
        <div ng-hide="ctrl.buttonHide" class="element-margin text-center">
            <div class="btn-group btn-group-sm" id="json_loader_Mode_groupButton" role="group">
                <button type="button" 
                        id="load_Default_button" 
                        class="btn btn-primary" 
                        ng-click="ctrl.load('Default', 'load_Default_button')" 
                        ng-class="{'active':FormSelected === 'Default'}"
                        title="{{::ctrl.applicationName === 'gtf' ? ctrl.text.InfoBulle.Default.Button_gtf : ctrl.text.InfoBulle.Default.Button}}">
                    {{::ctrl.text.SelectForm.Default}}
                </button>
                <button type="button" 
                        id="load_Publish_button" 
                        class="btn btn-primary" 
                        ng-click="ctrl.load('Published', 'load_Publish_button')" 
                        ng-class="{'active':FormSelected === 'Published'}" 
                        title="{{::ctrl.applicationName === 'gtf' ? ctrl.text.InfoBulle.Published.Button_gtf : ctrl.text.InfoBulle.Published.Button}}">
                    {{::ctrl.text.SelectForm.Published}}
                </button>
                <button type="button" 
                        id="load_Perso_button" 
                        class="btn btn-primary" 
                        ng-click="ctrl.load('Perso', 'load_Perso_button')" 
                        ng-class="{'active':FormSelected === 'Perso'}" 
                        title="{{::ctrl.text.InfoBulle.Perso.Button}}">
                    {{::ctrl.text.SelectForm.Perso}}
                </button>
            </div>
        </div>
        <!--Display, Update, Insert..-->
        <div class="element-margin text-center"
             ng-if="json_forms.length > 1">
            <div class="btn-group btn-group-sm" id="json_loader_Mode_groupButton" role="group">
                <button type="button" 
                        class="btn btn-primary" 
                        ng-repeat="form_type in json_forms"
                        ng-click="$root.selected_form_type = form_type" 
                        ng-class="{'active':$root.selected_form_type === form_type}">
                    {{form_type}}
                </button>
            </div>
        </div>
        <!--Titre-->
        <div class="element-margin input-group-xs">
            <label class="input-xs" id="Title_Form_label">{{::ctrl.text.Form.Title}}</label>
            <input ng-model="title" id="Title_Form_input" type="text" class="form-control" placeholder="{{::ctrl.text.Form.TitlePlaceholder}}" aria-describedby="Title_Form_label" required>
        </div>
        <!--Event-->
        <div ng-show="ctrl.buttonHide" class="element-margin input-group-xs">
            <label class="input-xs" id="Event_Form_label">{{::ctrl.text.Form.Event}}</label>
            <input ng-model="event" id="Event_Form_input" type="text" class="form-control" placeholder="{{::ctrl.text.Form.EventPlaceholder}}" aria-describedby="Event_Form_label" required>
        </div>
        <!--Slider largeur-->
        <div id="div_slider_Form" ng-show="ctrl.applicationName !== 'gtf'">
            <label id="label_slider_Form" class="input-xs" for="slider_Form">{{::ctrl.text.Form.Width}}</label>
            <input id="slider_Form" data-slider-id='slider_Form' type="text" data-slider-min="0" data-slider-max="12" data-slider-step="1" data-slider-value="10" required>
        </div>
    </div>

    <div id="select-fields-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="height:100%">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{::ctrl.text.Form.SuggestedFields}}</h4>
                </div>
                <div class="modal-body" style="height:calc(100% - 100px);overflow: auto;">
                    <!--Sélectionner tous-->
                    <div class="checkbox checkbox-info margin-2 col-xs-12">
                        <input id="aSuggestedTableFields_selectAll" 
                               type="checkbox" 
                               style="cursor:pointer; position: absolute"
                               ng-checked="ctrl.suggestColumnsAreAllFieldsSelected()"
                               ng-click="ctrl.suggestColumnsAreAllFieldsSelected() ? ctrl.suggestColumnsUnselectAllFields() : ctrl.suggestColumnsSelectAllFields()">
                        <label for="aSuggestedTableFields_selectAll" style="cursor:pointer">{{::ctrl.text.Form.SuggestedFieldsSelectAll}}</label>
                    </div>
                    <!--Liste-->
                    <div ng-repeat="node in ctrl.aSuggestedTableFields">
                        <div class="checkbox checkbox-info margin-2 col-xs-6">
                            <input id="aSuggestedTableFields_{{$index}}" 
                                   type="checkbox" 
                                   style="cursor:pointer; position: absolute"
                                   ng-model="node.fields[0].bUseForGenerate">
                            <label for="aSuggestedTableFields_{{$index}}" style="cursor:pointer">{{node.fields[0].name}} ({{node.fields[0].type}})</label>
                        </div>
                        <div class="input-group element-margin input-group-xs col-xs-6">
                            <span  class="input-group-addon ng-binding ng-scope" id="SuggestModal_label_label">Label</span>
                            <input ng-model="node.fields[0].label" id="SuggestModal_label_input" type="text" class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" placeholder="Label de ce champ" aria-describedby="SuggestModal_label_label" required="">
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="padding: 3px 15px;">
                    <button type="button" class="btn btn-primary" ng-click="ctrl.generateFormByBusinessObject()">{{::ctrl.text.Confirmation.Confirm}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
